body {
  background: #111;
  color: #f1f1f1;
  font-family: 'Inter', sans-serif;
  padding: 40px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #222;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
  color: #f1f1f1;
}

.ciphertext-label {
  font-size: 18px;
  margin-bottom: 8px;
  color: #bfa14a;
}

.keyword-label {
  font-size: 18px;
  margin-bottom: 15px;
}

#keyword-display {
  font-size: 18px;
  margin-bottom: 15px;
  color: #bfa14a;
}

.ciphertext-box {
  font-size: 20px;
  background: #333;
  padding: 12px;
  border-radius: 6px;
  margin: 10px auto 20px;
  width: fit-content;
  letter-spacing: 2px;
  color: #f1f1f1;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  width: 80%;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #333;
  color: #f1f1f1;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bfa14a;
  color: #111;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover:not(:disabled) {
  background-color: #e3cc6e;
  transform: scale(1.05);
}

button:disabled {
  cursor: default;
  background-color: #6d664f;
  color: #b0a68f;
  opacity: 0.6;
}

.hints {
  margin-top: 30px;
  text-align: left;
}

.hint {
  background: #333;
  padding: 10px;
  margin-top: 10px;
  border-left: 5px solid #bfa14a;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.4;
  color: #e5dec7;
}

.hidden {
  display: none;
}

#result-msg {
  font-weight: bold;
  margin-top: 16px;
}
